body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}


.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 5px 0;
    text-align: center;
}
.header h1{
    display: inline-block;
    margin-left: 100px;
    text-decoration: underline;
}
.header a{
    text-decoration: none;
    color: white;
}

.header button{
  background-color: #0a9aee; 
  border: none;
  color: white;
  padding: 10px 22px;
  border-radius: 5px;
  text-align: center;
  transition-duration: 0.4s;
  text-decoration: none;
  margin-right: 5px;
  margin-top: 20px;
  float: right;
  font-size: 16px;
}
.header button:hover {
    background-color: #077bbe; 
    color: white;
  }

.content {
    align-items: center;
    margin-top: 100px;
    padding: 20px;
}

.noteTable {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    
    width: 80%;
    margin: auto;
  }
  
  .noteTable td, .noteTable th {
    border: 1px solid #383838;
    text-align: center;
    padding: 8px;
  }
  
  .noteTable tr:nth-child(even){background-color: #f2f2f2;}
  
  .noteTable tr:hover {background-color: #ddd;}
  
  .noteTable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: #0a9aee;
    color: white;
  }

  .noteTable a{
    background-color: #ee4b0a; 
    border: none;
    color: white;
    padding: 7px;
    border-radius: 5px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    font-size: 12px;
  }

  .noteTable a:hover{
    background-color: #ce4008; 
    color: white;
  }

  
.modal {
    display: none; 
    position: fixed; 
    z-index: 999; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    text-align: center;
    padding: 10px;
    border: 1px solid #888;
    width: 50%;
    margin-bottom:100px;
  }
  .modal-content h4{
    font-size: 21px;
    
    text-decoration: underline;
    
  }
  .modal-content p{
    font-size: 18px;
    color: #2a2a2a;
  }
  
  .close {
    color: #aaaaaa;
    float: right;
    cursor: pointer;
    font-size: 28px;
    font-weight: bold;
  }
  textarea{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  
  input[type=submit] {
    width: 30%;
    background-color: #0a9aee;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #0675b6;
  }

  .searchBar input[type="text"]{
    width: 50%;
    padding: 12px 20px;
    margin-left: 24%;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

.searchBar input[type=submit] {
    width: 5%;
    background-color: #0a9aee;
    color: white;
    margin-left: 0%;
    padding: 13px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
  }
  
.searchBar input[type=submit]:hover {
    background-color: #0675b6;
  }
